* {
	box-sizing: border-box;
}

.row {
	width: 100%;
}

#p1 {
		width: 100%;
		float: left;
		background-color: #F0F8FF;
		border: 2px solid black;
		margin-left: 8px;
		margin-right: 8px;
	}
	#p2 {
		width: 100%;
		float: left;
		background-color: #F0F8FF;
		border: 1px solid black;
		margin-left: 8px;
		margin-right: 8px;
	}
	#p3{
		width: 100%;
		float: left;
		background-color: #F0F8FF;
		border: 2px solid black;
		margin-left: 8px;
		margin-right: 8px;
	}


@media(min-width: 992px) {
	#p1 {
		width: 32%;
		float: left;
		background-color: #F0F8FF;
		border: 2px solid black;
		margin-left: 8px;
		margin-right: 8px;
	}
	#p2 {
		width: 32%;
		float: left;
		background-color: #F0F8FF;
		border: 2px solid black;
		margin-left: 8px;
		margin-right: 8px;
	}
	#p3 {
		width: 32%;
		float: left;
		background-color: #F0F8FF;
		border: 2px solid black;
		margin-left: 8px;
		margin-right: 8px;
	}
}

@media(min-width: 768px) and (max-width: 991px) {
	#p1 {
		width: 50%;
		float: left;
		background-color: #F0F8FF;
		border: 2px solid black;
		margin-left: 8px;
		margin-right: 8px;
	}
	#p2 {
		width: 50%;
		float: left;
		background-color: #F0F8FF;
		border: 1px solid black;
		margin-left: 8px;
		margin-right: 8px;
	}
	#p3{
		width: 100%;
		float: left;
		background-color: #F0F8FF;
		border: 2px solid black;
		margin-left: 8px;
		margin-right: 8px;
	}
}